.gallery-wrapper {
    max-width: 960px;
    min-width: 960px;
    margin: 450px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.gallery-item {
    margin-left: auto;
    margin-right: auto;
}

.gallery-plate {
    background: grey;
    color: #ededed;
    
    text-align: center;
    height: 2em;
    position: relative;
    bottom: 50px;
}

.portfolio-img {
    
    
    transform:rotate(180deg);
}